.blockShadow {
    box-shadow: -1px -11px 0px 4px #e11d489c;
}

.tuningGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 245px;
    grid-row-gap: 25px;
    margin-top: 70px;
    margin-left: -20px;
}

.tuningGrid.bass {
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 288px;
    grid-row-gap: 36px;
    margin-top: 96px;
    margin-left: -40px;
}

.tuningGrid.ukulele {
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 243px;
    grid-row-gap: 86px;
    margin-top: 105px;
    margin-left: -19px;
}

.tuningGrid.electric {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 243px;
    grid-row-gap: 5px;
    margin-top: 26px;
    margin-left: 10px;
}

.tuningNote {
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid transparent;
    background: hsl(var(--muted));
    font-weight: 500;
    width: 44px;
    height: 44px;
    text-align: center;
    transition: all 0.11s ease-out 0s;
    padding: 0px;
    z-index: 2;
}

.tuningNote.electric {
    width: 28px;
    height: 28px;
}

.tuningNote:hover {
    background: hsl(var(--primary));
}

.tuningNote.detectedNote {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    width: 64px;
    height: 64px;
    z-index: 2;
    border: 1px solid white;
    pointer-events: none;
}

.tuningNote.detectedNote::before {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    border: 8px solid transparent;
    border-top: 8px solid white;
}

.tuneLine {
    position: absolute;
    left: calc(50% - 1px);
    width: 2px;
    bottom: -90px;
    background-color: hsl(var(--muted));
    transition: background-color 0.04s ease-out 0s;
    z-index: 1;
}

.noteTargeted {
    border: 1px solid hsl(var(--destructive));
}

.noteTargetedGrid {
    background-color: hsl(var(--destructive));
}

/* Acoustic 6-string */

.tuningNote1 {
    grid-area: 3 / 1 / 4 / 2;
}

.tuningNote2 {
    grid-area: 2 / 1 / 3 / 2; 
}

.tuningNote3 {
    grid-area: 1 / 1 / 2 / 2;
}

.tuningNote4 {
    grid-area: 1 / 2 / 2 / 3;
}

.tuningNote5 {
    grid-area: 2 / 2 / 3 / 3;
}

.tuningNote6 {
    grid-area: 3 / 2 / 4 / 3;
}

/* Electric 6-string */

.tuningNote1.electric {
    grid-area: 6 / 1 / 7 / 2;
}

.tuningNote2.electric {
    grid-area: 5 / 1 / 6 / 2;
}

.tuningNote3.electric {
    grid-area: 4 / 1 / 5 / 2;
}

.tuningNote4.electric {
    grid-area: 3 / 1 / 4 / 2;
}

.tuningNote5.electric {
    grid-area: 2 / 1 / 3 / 2;
}

.tuningNote6.electric {
    grid-area: 1 / 1 / 2 / 2;
}

/* Bass 4-string */

.tuningNote1.bass {
    grid-area: 2 / 1 / 3 / 2;
}

.tuningNote2.bass {
    grid-area: 1 / 1 / 2 / 2;
}

.tuningNote3.bass {
    grid-area: 1 / 2 / 2 / 3;
}

.tuningNote4.bass {
    grid-area: 2 / 2 / 2 / 2;
}

/* Ukulele 4-string */

.tuningNote1.ukulele {
    grid-area: 2 / 1 / 3 / 2;
}

.tuningNote2.ukulele {
    grid-area: 1 / 1 / 2 / 2;
}

.tuningNote3.ukulele {
    grid-area: 1 / 2 / 2 / 3;
}

.tuningNote4.ukulele {
    grid-area: 2 / 2 / 2 / 2;
}

.blurAnimation {
    animation: blurAnimation 0.5s ease-in-out;
    --tw-backdrop-blur: blur(10px);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  }

  .textAnimation {
    animation: textAnimation 0.5s ease-in-out;
  }

@keyframes blurAnimation {
    from {
      backdrop-filter: blur(0);
    }
    to {
      backdrop-filter: blur(10px);
    }
  }

  @keyframes textAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }